<span id="forkongithub"><a href="https://github.com/GSA-OCSIT/just_inform_web">Fork&nbsp;me&nbsp;on&nbsp;GitHub</a></span>
<div class="row">
  <div class="large-12 columns">
    <h1>Just Inform Top 25 Government Forms</h1>
    <p>We parse the form reports from <a href='http://www.reginfo.gov/'>RegInfo.gov</a> and provide updated lists daily. Last updated <span class='success label'><%=  updated_at.strftime('%A, %b %d') %></span></p>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h3 class='ribbon'>Burden Hours</h3>
      <div class='left-triangle'></div>
      <ol>
        <% @burden.each do |form| %>
          <li <%= "class='last'" if form == @burden.last %>><span class='radius secondary label'><%= form[0]%> hours</span><br /><em><%= form[1].title.gsub('.........','') %></em></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <h3 class='ribbon'>Cost</h3>
      <div class='left-triangle'></div>
      <ol>
        <% @cost.each do |form| %>
          <li <%= "class='last'" if form == @cost.last %>><span class='radius secondary label'>$<%= form[0]%></span><br /><em><%= form[1].title %></em></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <h3 class='ribbon'>Responses</h3>
      <div class='left-triangle'></div>
      <ol>
        <% @responses.each do |form| %>
          <li <%= "class='last'" if form == @responses.last %>><span class='radius secondary label'><%= form[0]%> responses</span><br /><em><%= form[1].title %></em></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns footer">
    <p>
      <a href='https://my.usa.gov' title='MyUSA Homepage'><img src='images/logo.png' alt='MyUSA logo'/></a>
      <small>A project by the <a href='https://my.usa.gov' title='MyUSA Homepage'>MyUSA</a> Team</small>
    </p>
  </div>
</div>